@import "./../../styles/variables";

.ch-container {
  width: 553px;
  color: $font-primary-color;
  display: flex;
  flex-direction: column;
  margin: 10px 20px 30px;
  font-family: $font-family, sans-serif;

  .ch-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 33px 0;

    .ch-title {
      font-weight: 600;
      font-size: 42px;
      width: 210px;
    }

    .ch-filter-button {
      .MuiButtonBase-root {
        border-radius: 9px;
        height: 49px;
        width: 49px;
        background-color: $primary-color;

        img {
          width: 21px;
          height: 21px;
        }
      }
    }
  }

  .ch-list {
    display: flex;
    height: 500px;
    background-color: $primary-color;

    .ch-list-inner-container {
      width: 100%;
      padding: 25px 40px;
    }
  }
}