@import "./../../styles/variables.scss";

.type-toggle {
  display: flex;
  justify-content: space-between;
  width: 99%;
  height: 101px;
  padding: 0 6px;
  gap: 16px;

  .MuiButtonBase-root {
    width: 269px;
    display: flex;
    flex-direction: column;
    color: $font-primary-color;
    border: 2px solid $border-primary-color;

    &.MuiButton-contained {
      background-color: $background-secondary-color;
    }

    &:nth-child(2) {
      flex-direction: column-reverse;
    }

    .MuiButton-icon {
      margin: 0;

      > svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
