$primary-color: #221d28;
$secondary-color: #05010c;
$font-family: sans-serif, "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS";
$font-primary-color: #fff;
$header-height: 67px;
$header-padding: 25px;