$primary-color: #221d28;
$background-primary-color: #05010c;
$background-secondary-color: #6441a5;
$border-primary-color: #3d3d3d;
$input-primary-color: #7a777e;
$button-background-strong: #0049ff;
$button-background-soft: #50318a;
$font-family: sans-serif, "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS";
$font-primary-color: #ffffff;
$header-height: 67px;
$header-padding: 25px;
