@import "./../../styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 67px;
  padding: 25px;
  background-color: $primary-color;
  color: $font-primary-color;
  font-family: $font-family, sans-serif;

  .followed-button {
    display: flex;
    align-items: center;
  }

  .followed-link {
    text-decoration: none;
    color: $font-primary-color;
    font-size: 18px;
    font-weight: 600;
  }

  .header-logo-link {
    display: block;
  }

  .header-center-elements {
    display: flex;

    div.MuiInputBase-root {
      background-color: $background-primary-color;
      border-radius: 9px;
      padding-right: 0;
    }

    .filter-button {
      width: 30px;
      height: 39px;
      margin-right: -10px;
    }

    .search-button {
      width: 22px;
      height: 39px;
      padding: 0 14px;
      margin-right: -7px;
      background-color: $primary-color;
    }
  }

  .header-left-elements {
    display: flex;
    gap: 30px;
  }

  .header-right-elements {
    height: 100%;
    width: 262px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-hamburger-icon {
    content: "";
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.81517 5.5H23.8152" stroke="%23FCFCFC" stroke-linecap="round" stroke-linejoin="round"/><path d="M1.81517 12.5H23.8152" stroke="%23FCFCFC" stroke-linecap="round" stroke-linejoin="round"/><path d="M1.81517 19.5H23.8152" stroke="%23FCFCFC" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  }

  .header-live-container button {
    height: 67px;
    width: 162px;
    box-shadow: none;
    background-color: $button-background-strong;
    text-transform: none;
    font-weight: 400;
    font-size: 18px;
  }

  .header-user-settings {
    height: 37px;
  }

  .header-search-box {
    label#search-box-label {
      color: $input-primary-color;
      font-weight: 200;
      top: -8px;
    }

    .MuiInputBase-root fieldset {
      border-color: $border-primary-color;
    }

    input.MuiInputBase-input {
      color: $input-primary-color;
    }

    .MuiTextField-root.MuiFormControl-root {
      width: 392px;

      label#search-box {
        padding: 0 5px;
        color: $input-primary-color;
        background-color: $background-primary-color;
      }

      > .MuiInputBase-root {
        height: 40px;
        padding: 0;
      }
    }
  }
}
