@import "./../../styles/variables";

.filters-dialog {
  .MuiPaper-root {
    max-width: 950px;
    height: fit-content;
    background-color: $primary-color;
    color: $font-primary-color;

    .MuiDialogContent-root {
      padding-top: 0;
      padding-bottom: 0;
      max-height: 100px;
    }

    .title-wrapper {
      display: flex;
      justify-content: flex-end;

      .title-inner-wrapper {
        display: flex;
        justify-content: space-between;
        width: 55%;
      }
    }
    .filter-checkbox {
      span {
        font-size: 12px;
        font-weight: 400;
      }
      .MuiCheckbox-root {
        color: $font-primary-color;
        &.Mui-checked {
          color: $font-primary-color;
        }
      }
    }
  }

  .filter-chip {
    background-color: $primary-color;
    border: 1px solid $font-primary-color;
    margin: 8px;

    &.active {
      background-color: $background-secondary-color;
    }

    span.MuiChip-label {
      color: $font-primary-color;
    }

    svg {
      color: $font-primary-color;
      &:hover {
        color: $font-primary-color;
      }
    }
  }

  .MuiDialogActions-root {
    padding: 20px;
    height: 50px;
    .MuiButtonBase-root {
      width: 100%;
      height: 50px;
      background-color: $button-background-strong;
      font-size: 12px;
      text-transform: none;
      border-radius: 4px;
    }
  }
}
