.live-badge {
    align-self: flex-start;
    color: white;
    background-color: red;
    border-radius: 8px;
    padding: 4px 6px;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
}
